div {
    position:relative;
    border:dotted;
    border-color:green;
    border-width: 2px;
    padding:5px;
    width:200px;
    height:200px;
    text-align: center;
}
#first {
    position:relative;
}
.red {
    color:red;
    font-weight:bold;
}
